<tr>
  <td><%= link_to listing.title, listing_path(@listings) %></td>
  <td></td>

  <td><%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-sm btn-warning' %></td>
  <td><%= link_to 'Delete', listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'  %></td>
</tr>