<div>
  <h1 class="page_title">My Listings</h1>

  <div class="row container">
    <div class="col-md-12">
      <div id="new_listing_button">
        <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary" %>
      </div>
      <table class="table table-stripped">
        <tr>
          <th class="mylistings-title" colspan="5">Title</th>
        </tr>
        <%= render @listings %>
      </table>
      <br />
    </div>
  </div>
</div>