<body>
  <div class="">
    
    <!-- Map/Search Section -->
    <div class="dis-sidebar">
      <div class="bn-box">
        <h2 class="college-top-title">CHOOSE YOUR SCHOOL</h2>
        <%= image_tag  "TheFutureAreUs.jpg", class: 'nav_image' %>
        <div class="alert alert-warning alt-container college-notice" role="alert">
          <p class="alert-heading"><strong>NOTICE!</strong></p>
          <p class="mb-0 notice-text">Not all of the colleges in the country have been added, either <%= link_to 'contact us', new_contact_path %> or please subscribe to our mailing list below in the footer in order to get updates on your college.</p>
        </div>
        <div class=" state-div wel-side-scroll row"  style="width:100%">
          <div class="scroll-pane">
            <ul id="info" class="sch-col">
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <aside class="col-md-4 sec-sidebar text-left">
      <div class="ey_nav_div">
          <div class="explore-topics">
            <h2 class="map_search card-top-title">GET STARTED</h2>
          </div>
          <p>Welcome to TheFutureAreUs, We provide students a platform to promote your business, for a better and brighter future!</p>

          <ul>
            <li>Choose the state your school is in</li>
            <li>Select the school</li>
            <li>Check out our <%= link_to 'pricing plans', new_charge_path %></li>
            <li>Sign in/ Sign up with School email required (.edu)</li>
            <li>Post your service, refer a friend, give a rating, or search for a service!</li>
          </ul>
        
      </div>
    </aside>
    
        <%= render "layouts/home_map" %>
    
    </div>
  </div>
</body>