<ol class="breadcrumb breadcrumb-arrow">
	<li><%= link_to 'Home', root_path %></li>
	<li class="active"><span>About</span></li>
</ol>
<div class="parallax-struct">
      <div class="explore-topics">
        <h2 class="card-top-title">ABOUT</h2>
        <div class="about_section">
          <p>
            Purpose: To have a platform where college students, the next generation, can promote their own business at affordable prices.
            <br />
            <br />
            Things to know:
            <br />
            <br />
            <ul class="list_style">
              <li>TheFutureAreUS was founded in 2017, to help promote entrepreneurial college students.</li>
              <li>ONLY students can use this database with a school issued email, in support of local student owned businesses.</li>
              <li>TheFurtureAreUS makes money, by having student entrepreneurs pay a subscription to post ads, AND by selling ads to local businesses.</li>
              <li>In order to use the database, you must register with us first and it is free to register and find student owned businesses.</li>
              <li>You may post reviews on a business and refer a student owned business as well.</li>
              <li>All Student entrepreneurs who pay for a subscription must first be approved before we promote their business on the site.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>