<div class="container">
    <ol class="breadcrumb breadcrumb-arrow">
		<li><%= link_to 'Home', root_path %></li>
		<li class="active"><span>Privacy Policy</span></li>
	</ol>
</div>
<h1 class="page_title">Privacy Policy</h1>
  <div class="privacy-policy">
    <p>
      This Privacy Policy details how TheFutureAreUS deals with data collected, maintained, and disclosed on TheFutureAreUS including services provided. When we make revisions, the date will be updated and you will be notified if you are a user. We encourage you to periodically review this statement to be informed of how TheFutureAreUs is protecting your privacy.
      <br />
      <br />
      1. Collection of your Personal Information
      <br />
      <br />
      TheFutureAreUs may collect personal infromation such as:
        <br />
        -Name
        <br />
        -Email Address
        <br />
        -Phone Number
        <br />
        -Billing Address
        <br />
        -Payment information
        <br />
        <br />

      2. Use of Personal Information
        <br />
        <br />
        -Collects personal info to operate and deliver services requested
        <br />
        -To inform you of other products and Services TheFutureAreUS offers
        <br />
        -Contact you via surveys to conduct research about your opinion on current services offered or future services
        <br />
        -We do not sell, rent, or lease your personal information to third parties
        <br />
        -Share data with trusted partners to help operate website
        <br />
        -Such Third parties may not use your personal information, except to provide services on TheFutureAreUS, they are required to maint confidentiality of your personal infromation
        <br />
        -TheFutureAreUs will only disclose your personal information if required by law or good faith based reason to do so
        <br />
        <br />
      
      3.Automatically Collected Information 
        <br />
        <br />
        -Info about hardware and software may possibly be collected ( Example: IP address, browser type, etc)
        <br />
        <br />
      
      4.Third party websites
        <br />
        <br />
        -Users may find advertising or other content on our Site that link to the sites and services of other advertisers etc
        <br />
        -We do not share your personal information with other third parties
        <br />
        -We do not control the content or links that appear on these sites
        <br />
        -We do not control how they operate their business or services offered
        <br />
        -Browsing or any interaction on their website, or other websites linked to our page, has their own terms and policies that you should be aware of
        <br />
        <br />
      
      5.Children under 13
        <br />
        <br />
      
        -The FutureAreUs does not knowingly collect information from users  under the age of 13
        <br />
        -If under the age of 13, must have parents permission to use website
        <br />
        <br />
      
      6.Opt out/ Unsubscribe
        <br />
        <br />
        -Users may opt out of our services  by contacting us here:
        <br />
        CustomerSupport@thefutureareus.com
        <br />
        <br />

      7. Contact Us
        <br />
        <br />
        -If you have any question about this policy, please feel free to contact us:
        <a href="CustomerSupport@thefutureareus.com">CustomerSupport@thefutureareus.com</a>
        <br>
        <em>Effective as of June 30, 2017</em>

    </p>
</div>
