<div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-default form-style">
      <div class="panel-body">
        <div class="sign-prof">
          <h2 class="thanks_title">Thank You!</h2>
          <div class="sign_text">
            <p>We will get back to you as soon as possible</p>
            <p>If you have any questions, feel free to contact us at <a href="CustomerSupport@thefutureareus.com">CustomerSupport@thefutureareus.com</a></p>
          </div>     
        </div> 
      </div> 
    </div> 
  </div>
