@import url('https://fonts.googleapis.com/css?family=PT+Sans');


.links {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    text-align: center;
    background-color: #e6e9ed;
}

.list {
    text-align: center;
    display: inline;
    padding: 8px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}
