.search-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(78, 203, 252);
}

.navbar-default {
  border: 1px solid rgba(0,0,0,0.09);
  background: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.07);
  border-radius: 3px;
  background-color: white;
  border-color: #e7e7e7;
  padding: 1.0em;
  padding-bottom: 0em;
}

.navbar {
  margin-bottom: 0px;
  padding: 5px 0;
  padding-bottom: 0;
}

.drop {
  background-color: white;
  border-color: #e7e7e7;
  color: #777;
}

.margin-drop {
  margin-top: 9px;
}

.left-side {
  color: #e7e7e7;
  margin-right: -12;
}

.nav_image {
  width: 200px;
  height: 80px;
  padding: 0;
}

.navbar-default .navbar-nav > li > a {
  color: rgb(78, 203, 252);
}