.mylistings-title {
  font-weight: bold;
  font-size: 20px;
}

.btn-sm {
  border-radius: 50%;
}

.listing-form {
  text-align: center;
}

.card {
  border: 1px solid rgba(0,0,0,0.09);
  background: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.07);
  border-radius: 3px;
  margin-bottom: 20px;
}

._field {
  width: 500px;
}

.desc_field {
  width: 500px;
  height: 300px;
}

.new-description {
  padding-top: 3px;
}

.page_title {
  padding: 0em 0;
}

.title-field {
  letter-spacing: normal;
}

.post-panel {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  text-align: left;
  width: 700px;
}

#post-panel {
  align-items: center;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.new-btn {
  margin-bottom: 20px;
}

.listing-title {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
  font-weight: 700;
  font-size: 29px;
  letter-spacing: -.022em;
  line-height: 1.12;
}

.listing-desc {
  font-size: 21px;
  line-height: 1.18;
  letter-spacing: -.022em;
}

.read-more {
  padding-bottom: 1.4em;
  color: rgba(0,0,0,0.44);
}

.time {
  padding-bottom: 1.4em;
  color: rgba(0,0,0,0.44);
}

.tags {
  padding-bottom: 2px;
  padding-top: 2px;
  color: rgba(0,0,0,0.44);
  font-size: 20px;
}

.listing-bold {
  font-size: 35px;
  font-weight: bold;
}

.some_pad {
  padding: 40px;
}