// Privacy Policy -----------------------------------------------------
.privacy-policy {
  width: 500px;
  height: 500px;
  overflow-y: auto;
  max-width: 3000px;
  max-height: 300px;
  text-align: left;
  border: 1px solid rgba(0,0,0,0.09);
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
  background: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.07);
  border-radius: 3px;
  padding-left: 10px;
}

.privacy-title {
  text-align: center;
}

// Terms of Use --------------------------------------------------------
.terms-use {
  width: 500px;
  height: 500px;
  overflow-y: auto;
  max-width: 3000px;
  max-height: 300px;
  text-align: left;
  border: 1px solid rgba(0,0,0,0.09);
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
  background: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.07);
  border-radius: 3px;
  padding-left: 10px;
}

.terms-title {
  text-align: center;
}