<div class="college_header">
  <div class="top_box">
    <h1 id="title_list">List of Colleges</h1>
    <p id="title_desc">
      Below is a list of colleges and universities
    </p>
  </div>
</div>
<div class="row container">
  <div class="col-md-10 col-lg-8 text-xs-center">

    <div class="col_title">
        <div><h2 class="header_college">Maryland</h2></div>
      <div class="college_wrapper">
        <div>
         
        </div>
      </div>
      <div><h2>Georgia</h2></div>
    </div>
  </div>
</div>