<div class="container">
  <div class="col-md-10 col-lg-6 text-xs-center col-md-offset-3">
    <div class="new-review">
      
      <h1 class="card-top-title">NEW REVIEW</h1>

      <%= render 'form' %>

    </div>
  </div>
</div>

