<div class="footer">
  <nav class="navbar fixed-bottom navbar-light bg-faded">
    <ul class="links">
        <li class="list"><%= link_to "About", about_path %> | </li>
        <li class="list"><%= link_to "Privacy Policy", privacy_path %> | </li> 
        <li class="list"><%= link_to "Terms of Use", terms_path %> | </li> 
        <li class="list"><%= link_to "Contact Us", new_contact_path %> | </li>
      </ul>
  </nav>
</div>
