

<!--<div style='width: 100%;'>
    <div class="map" id="map" style='width: 100%; height: 500px;'></div>
</div>  
  
    <script type="text/javascript">
    var mapStyle = [
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#46bcec"
            },
            {
                "visibility": "on"
            }
        ]
    }
]
      handler = Gmaps.build('Google');
        handler.buildMap({ provider: {
          zoom:      15,
          center:    new google.maps.LatLng(37.0902, -95.7129),
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles:    mapStyle
        }, 
        internal: {id: 'map'}}, 
        function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(4);
          handler.resetBounds();
        });
    </script>  -->
<script src="https://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/usaHigh.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js" type="text/javascript"></script>
<div id="mapdiv" style="width: 970px; height: 500px;"></div>


<script type="text/javascript">
    var map = AmCharts.makeChart("mapdiv",{
        type: "map",
        theme: "light",
        panEventsEnabled : true,
        backgroundColor : "#535364",
        backgroundAlpha : 1,
        zoomControl: {
        zoomControlEnabled : true
        },
        dataProvider : {
        map : "usaHigh",
        getAreasFromMap : true,
        areas : [
            { "id":"US-DE",
              "info": ""
            }, 
            { "id":"US-DC", 
              "info": ""
            },
            { "id":"US-FL",
              "info": ""
            },
            { "id":"US-GA",
              "info": "<%=  @georgia_colleges.colleges.map { |college| college.name }.join.html_safe %>"
            },
            { "id":"US-HI",
              "info": ""
            },
            { "id":"US-ID",
              "info": ""
            },
            { "id":"US-IL",
              "info": ""
            },
            { "id":"US-IN",
              "info": ""
            },
            { "id":"US-IA",
              "info": ""
            },
            { "id":"US-KS",
              "info": ""
            },
            { "id":"US-KY",
              "info": ""
            },
            { "id":"US-LA",
              "info": ""
            },
            { "id":"US-ME",
              "info": ""
            }, 
            { "id":"US-MD",
              "info": "<%=  @maryland_colleges.colleges.map { |college| college.name }.join.html_safe %>"
            },
            { "id":"US-MA",
              "info": ""
            },
            { "id":"US-MI",
              "info": ""
            },
            { "id":"US-MN",
              "info": "" 
            },
            { "id":"US-MS",
              "info": ""
            },
            { "id":"US-MO",
              "info": ""
            },
            { "id":"US-MT",
              "info": ""
            },
            { "id":"US-NE",
              "info": ""
            },
            { "id":"US-NV",
              "info": ""
            },
            { "id":"US-NH",
              "info": ""
            },
            { "id":"US-NJ", 
              "info": ""
            },
            { "id":"US_NM",
              "info": ""
            },
            { "id":"US-NY",
              "info": ""
            },
            { "id":"US-NC",
              "info": ""
            },
            { "id":"US-ND",
              "info": ""
            },
            { "id":"US-OH",
              "info": ""
            },
            { "id":"US-OK",
              "info": ""
            },
            { "id":"US-OR",
              "info": ""
            },
            { "id":"US-PA",
              "info": ""
            },
            { "id":"US-RI",
              "info": ""
            },
            { "id":"US-SC",
              "info": ""
            },
            { "id":"US-SD",
              "info": ""
            },
            { "id":"US-TN",
              "info": ""
            },
            { "id":"US-TX",
              "info": ""
            },
            { "id":"US-UT",
              "info": ""
            },
            { "id":"US-VT",
              "info": ""
            },
            { "id":"US-VA",
              "info": ""
            },
            { "id":"US-WA",
              "info": ""
            },
            { "id":"US-WV",
              "info": ""
            },
            { "id":"US-WI",
              "info": ""
            },
            { "id":"US-WY",
              "info": ""
            },
            { "id":"US-AK",
              "info": ""
            },
            { "id":"US-AL",
              "info": ""
            },
            { "id":"US-AR",
              "info": ""
            },
            { "id":"US-AZ",
              "info": ""
            },
            { "id":"US-CA",
              "info": ""
            },
            { "id":"US-CO",
              "info": ""
            },
            { "id":"US-CT",
              "info": ""
            }
            ]
        }, 
        areasSettings : {
            autoZoom : false,
            selectable: true,
            color : "#B4B4B7",
            colorSolid : "#84ADE9",
            selectedColor : "#84ADE9",
            outlineColor : "#666666",
            rollOverColor : "#9EC2F7",
            rollOverOutlineColor : "#000000"
        },
        
        "listeners": [ {
            "event": "clickMapObject",
            "method": function( event ) {
                document.getElementById( "info" ).innerHTML = '<p><b>' + event.mapObject.title + '</b></p><p>' + event.mapObject.info + '</p>';
            }
        } ]
    
    });
</script>







